/* CSS RESET ------------------------------------------- */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* FONTS ------------------------------------------- */
@font-face {
    font-family: 'Lucida-Regular';
    src: url('../fonts/LucidaSansRegular.ttf');
}

@font-face {
    font-family: 'Lucida-Bold';
    src: url('../fonts/LucidaSans-Bold.otf');
}

@font-face {
    font-family: 'Lucida-Demibold';
    src: url('../fonts/lucidasansdemibold.ttf');
}

/* Global ---------------------------------------- */
.default-button {
    background-color: #83afb4;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    font-family: 'inter';
    color: white;
    text-transform: uppercase;
    transition-duration: 0.5s;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    font-family: Lucida-Demibold;
    
}

.default-button:hover {
    background-color: #588c92;
}

.grow_deler {
    padding: 0px;
    margin: 0px;
    display: block;
}
.omvendt {
    transform: rotate(180deg);
}

.topbanner {
    transform: rotate(180deg);
    padding: 0px;
    margin: 0px;
    display: block;
    position: absolute;
        top: 0px;
    right: 0px;
}
/* FONTS ------------------------------------------- */
@font-face {
    font-family: 'Lucida-Regular';
    src: url('../fonts/LucidaSansRegular.ttf');
}

@font-face {
    font-family: 'Lucida-Bold';
    src: url('../fonts/LucidaSans-Bold.otf');
}

@font-face {
    font-family: 'Lucida-Demibold';
    src: url('../fonts/lucidasansdemibold.ttf');
}

/* Nav ------------------------------------------- */
/* The Overlay (background) */
#menu-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90vh;
    text-shadow: black 1px 1px 10px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* HERO ------------------------------------------- */
.hero {
    /* Sizing */
    width: 100vw;
    height: 108vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    color: white;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/pexels-marc-mueller-380769.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grow_logo {
    height: 50%;
    width: 50%;
}
/*
.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
*/
/* tekst + billeder sektion ---------------------- */
.sektionstekst-og-billeder {
    background-color: #83AFB4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sektionstekst-billeder_container {
    width: 50%;
}

.sektionstekst_box {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.sektionsbilleder_box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.sektionsbilleder_box img {
    margin: 5px;
    width: 35%;
    height: 35%;
    opacity: 0.8;
}

.sektionsbilleder_box img:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .sektionstekst-og-billeder {
        display: flex;
        flex-direction: column;
    }

    .sektionstekst-billeder_container {
        width: 100%;
    }

    .sektionstekst_box {
        margin-top: 20px;
    }

    .sektionsbilleder_box img {
        width: 40%;
    }
}


/* VECTORS */
.vector_container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.vector_card {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.7);
}

.vector_ikon {
    height: 75px;
    width: 75px;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
}

.vector_card_h3 {
    margin-top: 9px;
    font-size: 25px;
    color: black;
    font-family: Lucida-Demibold;
}

.vector_p {
    color: black;
    margin-top: 20px;
    font-family: Lucida-Regular;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 920px) {
    .vector_container {
        display: flex;
        flex-direction: column;
    }
}

/* Profiler ------------------------------------------- */

.brugerprofiler {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'inter', sans-serif;
}

.brugerprofiler a {
    text-decoration: none;
    color: #ffffff;
}

.brugerprofil_titel {
    text-align: center;
}

.brugerprofil_titel h2 {
    color: #71d3f1;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: uppercase;
}

.brugerprofil_titel p {
    color: rgba(87, 105, 117, 0.60);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.brugerprofil_bruger_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brugerprofil_bruger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
}

.brugerprofil_bruger img {
    height: 100px;
    border-radius: 60px;
    max-width: 100px;
    max-height: 100px;
}

.brugerprofil_bruger h3 {
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-align: center;

}

.brugerprofil_bruger p {
    color: rgba(87, 105, 117, 0.90);
    text-align: center;
}

.brugerprofil_bruger_bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #71d3d1;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.brugerprofil_bruger:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
    transition: all ease 0.3s;
}

.brugerprofil_bruger:hover .brugerprofil_bruger_bar {
    display: block;
}

@keyframes bar {
    0% {
        width: 0px;
    }

    100% {
        width: 100px;
    }
}

@media(max-width: 1050px) {
    .brugerprofil_bruger_container {
        flex-wrap: wrap;
    }
    
    .brugerprofiler {
        height: auto;
    }

    .brugerprofil_titel {
        margin: 15px;
    }

    .brugerprofil_bruger {
        flex-grow: 1;
    }
}

/* slut på Profiler ------------------------------------------- */

/* Videoplayer med tekst til højre -------- */
.video-og-tekst {
    background-color: #83AFB4;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video1_wrapper {
    width: 50%;
}

.videotekst {
    color: white;
    width: 50%;
    margin: auto;
    padding: 20px;

}

#video_player {
    width: 95%;
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#player_controls {
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color: black;
    padding: 5px;
    box-sizing: border-box;
}

input[type="image"] {
    float: left;
    width: 8%;

}

#vol_img {
    width: 7%;
}

.slider {
    width: 50%;
}

@media (max-width: 700px) {
    .video-og-tekst {
        flex-direction: column;
    }

    .video1_wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .videotekst {
        width: 100%;
        padding-top: 0px;
    }
}

/* slut på videosektion -------- */




.main_heading {
    margin: 70px auto;
}

img {
    width: 100%;
}

.news-article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .75rem;
    margin: .5rem;
}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.blog-post {
    width: 100%;
    max-width: 49rem;
    padding: 2.5rem;
    background-color: #fff;

    display: flex;
    align-items: center;
    border-radius: 25px;
    transition: .2s;
    margin-bottom: 40px;
}

.blog-post:hover {
    transform: translateY(-3%);
    box-shadow: 0 2rem 4rem rgb(82, 82, 82);
}

.blog-post_img {
    min-width: 17.5rem;
    max-width: 17.5rem;
    height: 15rem;
    transform: translateX(-4rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.blog-post_img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .25rem .25rem 1.5rem .5px rgba(0, 0, 0, .05);
    border-radius: .4rem;
}

.blog-post_date span {
    display: block;
    color: #83afb4;
    font-size: .8rem;
    font-weight: 600;
    margin: .25rem 0;
}

.blog-post_title {
    font-size: 1.25rem;
    margin: .75rem 0 1rem;
    text-transform: uppercase;
    color: #83afb4;
}

.blog-post_text {
    margin-bottom: 1.5rem;
    font-size: .7rem;
    color: #000;
}

.blog-post_cta {
    display: inline-block;
    padding: .5rem 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: .6rem;
    color: #fff;
    background-color: #83afb4;
    border-radius: 25px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.blog-post_cta:hover {
    padding: .5rem 2.5rem;
    transition: .6s;
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 40rem;
    }

    .blog-post_img {
        min-width: 15rem;
        max-width: 15rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 35rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 1.25rem;
        flex-direction: column;
    }

    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -0rem);
    }
}


/* VECTORS */
.vector_container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
}

.vector_card {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
}

.vector_icon {
    height: 70px;
    background-color: #F3F4F7;
    border-radius: 60px;
    width: 70px;
    padding: 5px;
}

.vector_card_h3 {
    margin-top: 9px;
    font-size: 25px;
    color: black;
    font-family: Lucida-Demibold;
}

.vector_p {
    color: black;
    margin-top: 20px;
    font-family: Lucida-Regular;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 920px) {
    .vector_container {
        display: flex;
        flex-direction: column;
    }
}

/* FOOTER */
footer {
    text-align: center;
    position: relative;
}

.footer_tekst_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3_footer {
    max-width: 100%;
    font-family: Lucida-Demibold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.footer_p {
    display: inline-block;
    text-align: justify;
    line-height: 20px;
    margin-top: 15px;
    font-family: Lucida-Regular;
    font-size: 13px;
}

.footer_billede {
    position: absolute;
    text-align: center;
}

.footer_button {
    margin-top: 50px;
    font-family: Lucida-Demibold;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: white;
}

.footer_wrapper {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 1000;
    height: 100%;
}

.growban {
    border-bottom: #83afb4 30px solid;
}

.some_container {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-bottom: #83afb4 30px solid;
}

.bund {
    height: 40px;
    width: 120px;
    font-size: 15px;
    margin-top: 40px;
}
.some_ikon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.some_ikon:hover {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
